cycler==0.10.0
Django==1.9
gunicorn==19.9.0
h5py==2.8.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
matplotlib==1.5.1
mysqlclient==1.3.7
numpy==1.10.4
Pillow==3.1.1
pyparsing==2.1.1
python-dateutil==2.5.1
pytz==2016.3
pywin32==217
PyYAML==3.13
scipy==1.1.0
six==1.10.0
sympy==0.7.6.1
virtualenv==14.0.6
